body
{
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vh%;
    z-index:100;
}

.content
{
   margin:20px;
   margin-top:50px;
   margin-bottom:50px;
}

nav ul, footer ul {
    background-color:white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    z-index:100;
}
nav ul li, footer ul li {
    background-color:white;
    display: inline;
    margin-right: 20px;
    z-index:100;
}
a {
    text-decoration: none;
}
a:hover {
    background-color:white;
    text-decoration: underline;
    z-index:100;
}
h1 {
    background-color:rgba(0,0,0,0.0);
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    z-index:100;
    margin-top: auto;
    margin-bottom: auto;
}
p {
    background-color:rgba(0,0,0,0.0);
    font-size: 1.7em;
    line-height: 1.4em;
    color: rgb(20, 20, 20);
    z-index:100;
    font-family: helvetica;
}

footer {
    background-color:white;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    z-index:100;
}

ul.posts { 
    background-color:white;
    margin: 20px auto 40px; 
    font-size: 1.5em;
    z-index:100;
}

ul.posts li {
    background-color:white;
    list-style: none;
    z-index:100;
}

header{
    margin: 0 !important;
    padding: 40 !important;
    height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transform:translate(0,1px);
    z-index:-50;
}

div.picture1 {
    background: rgba(0,0,0,0.0);
    height: 90% !important;
    overflow: hidden;
    padding: 0;
    position: relative;
   background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 60%, rgba(255, 255, 255, 1.0));
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin: 0 !important;
   padding: 0 !important;

}



.PageTitle
{
    background-color:rgba(125,0,125,0.8);
    z-index:200;
    width:70%;
    text-align:center;
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}

.HeaderDescription
{
    background-color:rgba(125,0,125,0.8);
    z-index:200;
    color:black;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width:70%;
    height:30%;
    text-align:center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.iFrameDiv {
     box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;
    z-index:-100;
}

iframe 
{
    position: absolute;  
    overflow:hidden;
}

.gradient
{
    width:100%;
    height:100%;
    padding: 0;
    position: absolute;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 60%, rgba(255, 255, 255, 1.0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 !important;
    padding: 0 !important;
    z-index:-60;
}

#grid
{
     margin:3%;
     display: grid;
     grid-template-rows: calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px);
     background-color: rgba(0,0,0,0.0);
     padding: 10px;
     height:90% !important;
     grid-gap:10px;
    overflow:hidden;
}

#gridElementDescription
{
    background-color:rgba(0,0,0,0.0); 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    text-align:justify;
    font-size:1.8vh;
    animation-duration: 6s;
    animation-name: fadeInDescription;
}

#gridElementEmpty
{
    background-color:rgba(125,125,0,0.0);   
}

#gridElementTitle
{
    text-align:center;
    font-size:3.5vh;
    background-color:rgba(125,125,0,0.0);
    margin-top: auto;
    margin-bottom: auto;
    font-family:helvetica;
	
    animation-duration: 3s;
    animation-name: fadeInDownTitle;
}

.TopBar
{
    background-color:rgba(255,0,255,0.0);
    width: calc(100% - 40px);
    height:60px;
    position:absolute;
    z-index:400;
    transform:translate(20px,10px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.SiteName
{
        background-color:rgba(125,125,0,0.0);
        color:white;
        font-family:helvetica;
        text-align:left;
        width:100%;
        font-size:25px;
}

.TopBarButton
{
        z-index:400;
        background-color:rgba(125,125,125,0.0);
        color:white;
	    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
        text-decoration:none;
        text-align:center;
        width:100%;
        font-size:14px;
        border-radius: 5px;
        border-color:white;
        border-style:solid;
        border-width:2px;
        margin:5px;
        max-width:90px;
        height:80%;
        line-height:3.5;
}

.TopBarButton:hover
{
        text-decoration:none;
        z-index:400;
        background-color:rgba(255,255,255,0.6);
        color:white;
	    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
        text-align:center;
        width:100%;
        font-size:14px;
        border-radius: 5px;
        border-color:white;
        border-style:solid;
        border-width:2px;
        margin:5px;
        max-width:90px;
        height:80%;
        line-height:3.5;
}

.TopBarButton:active {
        text-decoration:none;
        z-index:400;
        background-color:rgba(255,255,255,1.0);
        color:white;
	    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
        text-align:center;
        width:100%;
        font-size:14px;
        border-radius: 5px;
        border-color:white;
        border-style:solid;
        border-width:2px;
        margin:5px;
        max-width:90px;
        height:80%;
        line-height:3.5;
}

.TopBarBlank
{
        z-index:400;
        background-color:rgba(125,0,125,0.8);
        color:rgba(0,0,0,0.0);
        font-family:helvetica;
        text-align:right;
        width:100%;
        font-size:10px;
}

.ProjectBloc
{
    background-color:rgba(200,200,0,0.0);
    height:1200px;
    margin-top:100px;
    margin-bottom:100px;
}

.ProjectImage{
    position: relative;
    object-fit:cover;
    width:100%;
    height:100%;
}

.ProjectImageContainer{
    width: 100%;
    height: calc(300px - 5px);
    overflow: hidden;
    border-radius:2px;
}

.ProjectImagesOnRight
{
   grid-template-columns: 1fr 3fr;
}

.ProjectImagesOnLeft
{
   grid-template-columns: 3fr 1fr;
}

.ProjetBlocMainDivider
{
  text-align:center;
  background-color: rgba(125,125,0,0.0);
  color: white;
  height: 100%;
  margin: 0 auto;
  display: grid;
  height:100%;
}

.TextPart
{
    text-align:center;
    background-color: rgba(0,0,0,0.0);
    color: white;
    margin: 0 auto;
    display: grid;
    height:600px;
    width:100%;
}

.TextContent
{
    background-color:
    rgba(0,0,0,0.7);
    border-radius: 2px;
    height: 80%;
    align-content: center;
    width:303%;
    z-index:800;
}

.ProjectTextOnRight
{
    transform: translate(calc(-67%), 20%);
}

.ProjectTextOnLeft
{
    transform: translate(calc(-67%), 20%);
}

.PicturePart
{
    text-align:center;
    background-color: rgba(125,125,0,0.0);
    color: white;
    height: 600px;
    margin: 0 auto;
    display: grid;
    width:100%;
	grid-gap:10px;
}

.PicturePartSub
{
    text-align:center;
    background-color: rgba(125,125,0,0.0);
    color: white;
    height: 100%;
    margin: 0 auto;
    display: grid;
    height:100%;
    width:100%;
    grid-gap:10px;

    grid-template-columns : repeat(2, 1fr);
}

.ProjectTitle
{ 
    position:absolute;
    font-size: 7vh;
    font-family: helvetica;
    font-weight: 700;

}

@media (min-width: 600px)
{
  .ProjetBlocMainDivider {  }
  .ProjectBloc { height:800px;}
  .ProjectImageContainer{height: calc(400px - 5px);}
  .TextPart{height:800px;}
  .PicturePart{height:800px;}
}

@media (min-width: 800px) {
  
  .content{margin:15%;}
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDownTitle {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDescription
{
  0%
  {
    opacity: 0;
  }
  50%
  {
	  opacity:0%;
  }
  100%
  {
    opacity: 1;
  }
}