body
{
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vh%;
    z-index:100;
}

.content
{
   margin:15%;
   margin-top:3%;
   margin-bottom:3%;
}

nav ul, footer ul {
    background-color:white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    z-index:100;
}
nav ul li, footer ul li {
    background-color:white;
    display: inline;
    margin-right: 20px;
    z-index:100;
}
a {
    background-color:white;
    text-decoration: none;
    color: #999;
    z-index:100;
}
a:hover {
    background-color:white;
    text-decoration: underline;
    z-index:100;
}
h1 {
    background-color:rgba(0,0,0,0.0);
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    z-index:100;
    margin-top: auto;
    margin-bottom: auto;
}
p {
    background-color:rgba(0,0,0,0.0);
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    z-index:100;
}
footer {
    background-color:white;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    z-index:100;
}

ul.posts { 
    background-color:white;
    margin: 20px auto 40px; 
    font-size: 1.5em;
    z-index:100;
}

ul.posts li {
    background-color:white;
    list-style: none;
    z-index:100;
}

header{
    margin: 0 !important;
    padding: 40 !important;
    height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transform:translate(0,1px);
    z-index:-50;
}

div.picture1 {
    background: rgba(0,0,0,0.0);
    height: 90% !important;
    overflow: hidden;
    padding: 0;
    position: relative;
   background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin: 0 !important;
   padding: 0 !important;

}



.PageTitle
{
    background-color:rgba(125,0,125,0.8);
    z-index:200;
    width:70%;
    text-align:center;
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}

.HeaderDescription
{
    background-color:rgba(125,0,125,0.8);
    z-index:200;
    color:black;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width:70%;
    height:30%;
    text-align:center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.iFrameDiv {
     box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;
    z-index:-100;
}
iframe 
{
    position: absolute;  
    overflow:hidden;
}

.gradient
{
    width:100%;
    height:100%;
    padding: 0;
    position: absolute;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 !important;
    padding: 0 !important;
    z-index:-60;
}

#grid
{
     margin:3%;
     display: grid;
     grid-template-rows: calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px);
     background-color: rgba(0,0,0,0.0);
     padding: 10px;
     height:90% !important;
     grid-gap:10px;
    overflow:hidden;
}

#gridElementDescription
{
    background-color:rgba(0,0,0,0.0); 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-color:rgba(0,0,0,1.0);
    text-align:justify;
    font-size:1.8vh;
    
}

#gridElementEmpty
{
    background-color:rgba(125,125,0,0.0);   
}

#gridElementTitle
{
    text-align:center;
    font-size:2.5vh;
    background-color:rgba(125,125,0,0.0);
    margin-top: auto;
    margin-bottom: auto;
}

.TopBar
{
    background-color:rgba(255,0,255,0.8);
    width: calc(100% - 40px);
    height:60px;
    position:absolute;
    z-index:400;
    transform:translate(20px,10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SiteName
{
        background-color:rgba(125,125,125,0.8);
        color:white;
        font-family:helvetica;
        text-align:left;
        width:100%;
        font-size:25px;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
